<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="spfworld.spfworld">

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8"
        tools:ignore="OldTargetApi" />
    <!-- 支付权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 高德地图权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".activity.LoginStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CityListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 我的资料设置 -->
        <activity android:name=".activity.User.UserActivity"></activity>
        <activity
            android:name=".activity.User.UserUpDateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".activity.User.UserNiNameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".activity.User.UserSinatureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".activity.FindActivity" />
        <activity android:name=".activity.IndentDetailActivity" />
        <activity android:name=".activity.PayDefeatActivity" />
        <activity android:name=".activity.PaySuccessActivity" />
        <activity android:name=".activity.StoreDetailActivity" />
        <activity android:name=".activity.StoreSerchListActivity" />

        <!-- 邀请好友 -->
        <activity android:name=".activity.User.FriendActivity" />
        <activity android:name=".activity.User.UserOrderActivity" />
        <activity android:name=".activity.User.UserMyTribuneActiivity"/>
        <activity android:name=".activity.User.AcutActivity"/>

        <!-- 我的收藏 -->
        <activity android:name=".activity.User.MyCollectActivity"/>
        <!-- 主题帖 -->
        <activity
            android:name=".activity.Tribune.TribuneDatailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 我的帖子发布 -->
        <activity android:name=".activity.Tribune.PostTribuneDateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.Tribune.UpPictureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Tribune.TribuneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 相册多选 -->
        <activity
            android:name="ab.AllImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="ab.selector.TestPicActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name="ab.selector.PhotoActivity"/>
        <activity android:name="ab.selector.ImageGridActivity"/>
        <activity android:name=".activity.Tribune.ImagePagerActivity"></activity>


        <activity
            android:name="ab.SelectImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9d7998d6fc4f93eb9734502b7bb7bb57" />
        <!-- 申明service组件 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.EventActivity" />
        <activity android:name=".activity.PondActivity" />
        <activity android:name=".activity.PondDetailActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.EventDetailActivity" />
        <activity android:name=".activity.PayActivity" />
        <!-- 支付页面 -->
        <activity
            android:name=".pay.PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".pay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity android:name=".activity.FootPrintActivity"></activity>
    </application>

</manifest>